<div class="roles-page">
  <div class="login-container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <img
        src="assets/mivivienda-logo.png"
        alt="MiVivienda"
        class="logo medium"
      />
      <img src="assets/upc-logo.png" alt="UPC" class="logo medium" />
    </div>

    <!-- Panel derecho -->
    <div class="right-panel">
      <div class="login-card">
        <!-- Cabecera -->
        <div class="card-top">
          <div class="card-left">
            <button class="btn-back" routerLink="/clientes">Volver</button>
            <h2>Crear Cliente</h2>
          </div>
        </div>

        <!-- Formulario -->
        <form [formGroup]="form" (ngSubmit)="aceptar()">
          <div class="form-group">
            <label for="nombre"
              >Nombre del cliente <span class="req">*</span></label
            >
            <input id="nombre" type="text" formControlName="nombre" />
            <div
              *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
              class="msg"
            >
              El nombre del cliente es obligatorio.
            </div>
          </div>

          <div class="form-group">
            <label for="apellido"
              >Apellido del cliente <span class="req">*</span></label
            >
            <input id="apellido" type="text" formControlName="apellido" />
            <div
              *ngIf="
                form.get('apellido')?.invalid && form.get('apellido')?.touched
              "
              class="msg"
            >
              El apellido del cliente es obligatorio.
            </div>
          </div>

          <div class="form-group">
            <label for="correo">Correo <span class="req">*</span></label>
            <input id="correo" type="text" formControlName="correo" />
            <div
              *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched"
              class="msg"
            >
              El correo del cliente es obligatorio.
            </div>
          </div>

          <div class="form-group">
            <label for="dni">DNI <span class="req">*</span></label>
            <input id="dni" type="text" formControlName="dni" />
            <div
              *ngIf="form.get('dni')?.invalid && form.get('dni')?.touched"
              class="msg"
            >
              El DNI del cliente es obligatorio.
            </div>
          </div>

          <div class="form-group">
            <label for="ingresosMensuales"
              >Ingresos Mensuales <span class="req">*</span></label
            >
            <input
              id="ingresosMensuales"
              type="text"
              formControlName="ingresosMensuales"
            />
            <div
              *ngIf="
                form.get('ingresosMensuales')?.invalid &&
                form.get('ingresosMensuales')?.touched
              "
              class="msg"
            >
              Los ingresos mensuales del cliente son obligatorios.
            </div>
          </div>

          <div class="form-group">
            <label for="moneda"> Moneda <span class="req">*</span> </label>
            <select id="moneda" formControlName="moneda">
              <option value="" disabled selected>Seleccione una moneda</option>
              <option value="USD">USD ($)</option>
              <option value="EUR">EUR (€)</option>
              <option value="SOL">SOL (S/)</option>
            </select>

            <div
              *ngIf="form.get('moneda')?.invalid && form.get('moneda')?.touched"
              class="msg"
            >
              La moneda es obligatoria.
            </div>
          </div>

          <!-- Usuario (muestra nombre, guarda el ID) -->
          <div class="form-group">
            <label for="usuario"> Usuario <span class="req">*</span> </label>
            <select formControlName="usuario">
              <option value="" disabled selected>Seleccione un usuario</option>
              <option *ngFor="let u of listaUsuarios" [value]="u.usuario_id">
                {{ u.username }}
              </option>
            </select>
          </div>
          <!-- Acciones -->
          <div class="actions">
            <button type="submit" class="btn btn-save">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
