<div class="roles-page">
  <div class="login-container">
    <!-- Panel izquierdo (mismo estilo que login) -->
    <div class="left-panel">
      <img src="assets/mivivienda-logo.png" alt="MiVivienda" class="logo medium" />
      <img src="assets/upc-logo.png" alt="UPC" class="logo medium" />
    </div>

    <!-- Panel derecho (tarjeta con la tabla) -->
    <div class="right-panel">
      <div class="login-card roles-card">
        <div class="card-top">
          <div class="card-left">
            <button type="button" class="btn-back" (click)="onBack()" aria-label="Volver">← Volver</button>
            <h2>Usuarios</h2>
          </div>

        <button class="btn btn-add" title="Disponible próximamente" (click)="onAgregar()">
          Agregar usuario
        </button>
      </div>

      <div *ngIf="isLoading" class="loading">Cargando...</div>
      <p *ngIf="error" class="error-msg">{{ error }}</p>

      <table *ngIf="!isLoading && usuarios.length" class="roles-table">
        <thead>
          <tr>
            <th style="width: 100px;">ID</th>
            <th style="width: 220px;">Nombre</th>
            <th style="width: 220px;">Estado</th>
            <th style="width: 220px;">Fec. Creación</th>
            <th style="width: 220px;">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios">
            <td>{{ u.usuario_id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.activo }}</td>
            <td>{{ u.creado_en }}</td>
            <td>{{ u.roles_rol_id.nombre }}</td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="!isLoading && !usuarios.length && !error" class="empty-state">
        No hay usuarios aún.
      </p>
     </div>
    </div>
  </div>
</div>
